body{
	background-image: url("../img/logoAperture1920x1080.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: 100%;
	margin : auto;
	width:90%;
}

header{
	background-color: #1111b1;
	width:100%;
	height:100px;
}

.content{
	display: flex;
	width:100%;
}

main{
	display: flex;
	flex-direction: column;
}

article{
	background-image: url("../img/background-1.png");
    background-repeat: no-repeat;
	background-size: 100%;
	background-repeat: repeat-y;
}

aside{
	background-color: #00FF00;
	width: 25%;
}

.mainPresentation{
	display: flex;
	flex: 0 0;
}

.carGun{
	display:flex;
	flex: 1.5 0 0;
}

.carGun .GunName{
	flex: 3 0 0;
}

.carGun .car{
	text-align: left;
	flex: 1 0 0;
	border: 2px solid black;
}

.commandGun{
	flex: 1 0 0;
}

.carGun img{
	width:20%
}

footer{
	background-color: #7F7F7F;
	width:100%;
}


/*----------------Page d'acceuil----------------*/
	
.acceuil_acceuil_appertlogo {
	width:1000px;
	
	margin:auto;
}
article .home {
	border:1px solid black;