/*--------------FONTS---------------------------*/
@font-face {
    font-family: "din";
    src: url('../font/din.tff');
}
@font-face {
    font-family: "din_black";
    src: url('../font/din_black.ttf');
}
@font-face {
    font-family: "din_bold";
    src: url('../font/din_bold.ttf');
}
@font-face {
    font-family: "din_medium";
    src: url('../font/din_medium.ttf');
}

#din{
	font-family: din;
}
#din_bold{
	font-family: din_bold;
}
#din_black{
	font-family: din_black;
}
#din_medium{
	font-family: din_medium;
}

/*---------------Style en commun----------------*/
body{
	font-family: din;
	background-image: url("../img/logoAperture1920x1080.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: 100%;
	margin : auto;
	width:100%;
}

main{
	position: relative;
	top: 50px;
	width: 100%;
}

/*----------------Page d'acceuil----------------*/
	
.acceuil_acceuil_appertlogo {
	width:1000px;
	margin:auto;
}
article .home {
	border:1px solid black;
}

/*-------------Page qui sommes-nous-------------*/

.who_who{
display:flex;
flex-direction:column;
justify-content:flex-start;
margin-left:3%;
}

.who_who>div{
display:flex;
flex-direction:row;
}

.who_who>div article{
display:block;
width:45%;
padding:10px;

}

/*-----------------FAQ---------------------------*/

.FAQ_summary{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: stretch;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	background-color: rgba(216,216,216,0.7);
}

.FAQ_summary > li{
	padding: 0;
	margin: 0;
}

.FAQ_summary > li a{
	font-family: din_bold;
	color: grey;
}
.FAQ_summary > li a:hover{
	font-family: din_bold;
	color: white;
}

.FAQ_summary > li > a{
	font-family: din_black;
}
