/*--------------FONTS---------------------------*/
@font-face {
    font-family: "din";
    src: url('../font/din.ttf');
}
@font-face {
    font-family: "din_black";
    src: url('../font/din_black.ttf');
}
@font-face {
    font-family: "din_bold";
    src: url('../font/din_bold.ttf');
}
@font-face {
    font-family: "din_medium";
    src: url('../font/din_medium.ttf');
}

#din{
	font-family: din;
}
#din_bold{
	font-family: din_bold;
}
#din_black{
	font-family: din_black;
}
#din_medium{
	font-family: din_medium;
}




/*----------------Page d'acceuil----------------*/
	

.accueil_pres div  {
width:70%;
margin:auto;
}


.accueil_test {
	margin:auto;
	width:90%;
}



.icon_Aper {
	width:500px;
	height:500px;
}

div .image_accueil{
	text-align:center;

}

.blanc {
	height: 150px;
}

.bloc {
	background-color: #cccccc;

}

/*-------------Page qui sommes-nous-------------*/

.who_header{
	display:block;
	position:relative;
	top:50px;
	padding:5px 15px;
}
.who_who img{
	max-height:200px;
	float:left;
	padding:5px;
	}
@media(min-width:720px){
	.who_who>div{width:45%}
	.who_who>aside{width:45%}

	.who_who{
		display:flex;
	}	

	.who_who>div>article{
		display:block;
		height:42%;
		padding:5%;
		clear:left;
	}

	.who_who>aside>div{
		display:block;
		height:42%;
		padding:5% 0%;
		clear:left;
		margin-left:5%;
	}
}
@media(max-width:719px){
	.who_who{
		display:block;
	}
	.who_who img{
	max-height:100px;
	}
}

/*-----------------FAQ---------------------------*/

.FAQ_summary{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: stretch;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	background-color: rgba(216,216,216,0.7);
}

.FAQ_summary > li{
	padding: 0;
	margin: 0;
}

.FAQ_summary > li a{
	font-family: din_bold;
	color: grey;
}
.FAQ_summary > li a:hover{
	font-family: din_bold;
	color: white;
}

.FAQ_summary > li > a{
	font-family: din_black;
}		

.FAQ_answers > div{
	background-color: rgba(216,216,216,0.7);
	text-align:center;
}

.FAQ_answers > div > div p{
	background-color: rgba(150,150,150,0.7);
	width: 90%;
	margin:auto;
	text-align:left;
}

.FAQ_answers > div > div h3{
	margin: auto;
	width: 90%;
	text-align:left;
}

/*---------------Style en commun----------------*/
body{
	font-family: din;
	background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: 100%;
	margin : auto;
	width:100%;
}

main{
	position: relative;
	top: 50px;
	/*width: 100%;*/
}

footer{
	position:fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: grey;
}

footer p{
	text-align:center;
	font-family:din_medium;
}

.general_false_footer{
	position: relative;
	top: 50px;
	height:50px;
}
/* Page Futur Projets */

.Produit_Futur-Projet {
	align-items:stretch;
	display:flex;
	flex-direction:column;
	margin:auto;
	text-align:center;
	width:900px;
}

.Produit_Futur-Projet>article {
	border:2px solid black;
}

.Produit_Futur-Projet img {
	height:200px;
}

.P_f-P_impair {
	align-items:center;
	background-color: lavender;
	display:flex;
	flex-direction:row;
}

.P_f-P_pair {
	align-items:center;
	background-color: aliceblue;
	display:flex;
	flex-direction:row-reverse;
}

/* Menu Burger Maxi Best-Of-Ultra-XXL-Heart-Attack */

#burg {
	height:50px;
}

.burger {
	align-items:stretch;
	background-color:DarkGrey;
	display:flex;
	left:0%;
	position:absolute;
	top:0%;
	z-index:666;
	height:50px;
}

.burger:hover div {
	align-items:center;
	background-color:DarkGrey;
	display:flex;
	height:94vh;
	flex-direction:column;
	width:80vw;
	z-index:666;
}
 
.burger>div {
	display:none;
	z-index:666;
}
